@use '../../../common/mixins';
.bigBlockInfo {
	background-color: rgb(39, 30, 30);
}
.bigBlockInfo__content {
	position: relative;
	height: 25rem;
	cursor: pointer;
	padding-top: 2rem;
	@media (min-width: 767.98px) {
		height: 40rem;
	}
}
.bigBlockInfo__img {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease;
	border-radius: 1.5rem;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.5s ease;
	}
	&:hover img {
		transform: scale(1.05);
	}
}
.bigBlockInfo__row {
	position: absolute;
	width: 100%;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	padding: 1.5rem;
	background: rgba(0, 0, 0, 0.6);
}
.bigBlockInfo__title {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	line-height: 1.5rem;
	@include mixins.text-universal;
	@media (min-width: 767.98px) {
		font-size: 2.25rem;
		line-height: 2.25rem;
	}
}
.bigBlockInfo__btn {
	display: none;
	@media (min-width: 767.98px) {
		display: block;
	}
}
