@use '../../../common/mixins';
.search {
	@include mixins.border(50%, 3px, var(--text-color-universal));
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3),
		inset 2px 2px 5px rgba(0, 0, 0, 0.3);
	position: absolute;
	z-index: 5;
	top: 1rem;
	right: 0rem;
	width: 2.5rem;
	height: 2.5rem;
	overflow: hidden;
	transition: all 0.5s ease;
	background-color: transparent;

	&.expanded {
		width: 100%;
		border-radius: 1.25rem;
	}

	&.expanded .search__input {
		opacity: 1;
	}

	&.expanded .search__btn {
		transition: all 0.5s ease;
		transform: rotate(44deg);
		opacity: 1;
	}

	@media (min-width: 575.98px) {
		top: 2.25rem;
		right: 5rem;

		&.expanded {
			width: 50%;
		}
	}

	@media (min-width: 991.98px) {
		&.expanded {
			width: 30%;
		}
	}
}

.search__input {
	@include mixins.text-universal;
	@include mixins.glass-background;
	font-size: 1rem;
	padding-left: 1rem;
	padding-right: 2rem;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	&::placeholder {
		@include mixins.text-universal;
		opacity: 0.7;
	}
}
.search__btn {
	@include mixins.flex-center;
	background-color: transparent;
	position: absolute;
	width: 33px;
	height: 33px;
	top: 0;
	right: 1px;
	transition: all 0.5s ease;
}

.search__btn--icon {
	font-size: 1.4rem;
	@include mixins.text-universal;
	@include mixins.text-hover;
}
