@use '../../../common/mixins' as *;

.burger {
	@include flex-center;
	@include text-universal;
	justify-content: flex-end;
	padding: 1rem;

	position: relative;
	z-index: 9999; // Поверх всего
}

.burger__open {
	@include text-secondary;
}
