@use '../../../common/mixins';
.mainInfo__block {
	position: relative;
	display: grid;
	@media (min-width: 991.98px) {
		gap: 2rem;
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}
}

.mainInfo__img {
	position: relative;
	max-height: 550px;
	width: 100%;
	object-position: 50% 50%;
	color: transparent;
	border-radius: 1rem;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 1.5rem;
	}

	@media (min-width: 991.98px) {
		min-height: 350px;
		align-self: center;
		position: absolute;
		grid-column: 1 / 9;
		height: 75%;
		inset: 0;
		border-radius: 1.5rem;
	}
}

.mainInfo__content {
	@include mixins.background-base;
	position: relative;
	margin-top: -4rem;
	padding: 2.5rem;
	border-radius: 1rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;

	@media (min-width: 991.98px) {
		top: 0;
		grid-column: 7 / 13;
		border-radius: 1.5rem;
		margin: 0;
	}
}

.mainInfo__title {
	@include mixins.text-special;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	text-transform: uppercase;
	@media (min-width: 991.98px) {
		font-size: 2.25rem;
		line-height: 2.25rem;
	}
}

.mainInfo__text {
	font-size: 1rem;
	margin-bottom: 1.5rem;

	@media (min-width: 991.98px) {
		font-size: 1.125rem;
	}
}
.rightImage {
	@media (min-width: 991.98px) {
		.mainInfo__img {
			grid-column: 6 / 13; /* Сдвигаем картинку на правую сторону */
		}
		.mainInfo__content {
			grid-column: 1 / 7; /* Сдвигаем контент на левую сторону */
		}
	}
}
.mainInfo__btn {
	width: 100%;
}
