@use '../../../common/mixins';

.customFile {
	margin-bottom: 0.75rem;
	width: 100%;
	@include mixins.flex-gap(0rem, column);

	@media (min-width: 575.98px) {
		margin-bottom: 1rem;
	}
}

.customFile__label {
	width: 100%;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	@include mixins.button-style;
	cursor: pointer;
	text-transform: uppercase;
}
.customFile__icon {
	font-size: 3rem;
}

.customFile__input {
	display: none;
}

.customFile__error {
	border-color: #830000;
}
