.container {
	position: relative;
	width: calc(100% - 1.5rem);
	margin-inline: auto;
	padding: 2.5rem 0;
	@media (min-width: 399.98px) {
		width: calc(100% - 2rem);
	}
	@media (min-width: 767.98px) {
		width: calc(100% - 3rem);
		padding: 3.5rem 0;
	}
	@media (min-width: 1139.98px) {
		width: min(calc(100% - 4rem), 70rem);
		padding: 5rem 0;
	}
}
.container__padding-disabled {
	padding: 0;
}

// 	@media (min-width: 319.98px) {}
//   @media (min-width: 399.98px) {}
//   @media (min-width: 575.98px) {}
//   @media (min-width: 767.98px) {}
//   @media (min-width: 991.98px) {}
//   @media (min-width: 1199.98px) {}
