@use '../../common/mixins' as *;

.bottomNav {
	@include background-secondary;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	z-index: 1050;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	padding: 0 1rem;

	@media (min-width: 575.98px) {
		display: none;
	}
}

.bottomNav__links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	font-size: 1.5rem;
}

.bottomNav__link {
	@include flex-center;
	height: 1.5rem;
}

.navBurger {
	@include flex-center;
	@include background-secondary;
	position: relative;
	top: -1rem;
	z-index: 10;
	border-radius: 50%;
}

.navBurgerBottom {
	@include flex-center;
	@include background-secondary;
	width: 5.125rem;
	height: 5.125rem;
	border-radius: 50%;
	position: fixed;
	bottom: -0.1875rem;
	left: 50%;
	padding: 1rem;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	transform: translateX(-50%);
	z-index: 1000;
	pointer-events: none;
	@media (min-width: 575.98px) {
		display: none;
	}
}

.customNav__style {
	flex-direction: column;
}
