@use '../../../common/mixins';

.burger {
	@include mixins.flex-center;
	@include mixins.text-universal;
	justify-content: flex-end;
	padding: 1rem;

	position: relative;
	z-index: 9999;
}

.burger__open {
	@include mixins.text-secondary;
}
