@use '../../../common/mixins';

.inputWrapper {
	margin-bottom: 0.75rem;
	width: 100%;
	@include mixins.flex-gap(0rem, column);

	@media (min-width: 575.98px) {
		margin-bottom: 1rem;
	}
}

.label {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.customInput {
	margin-bottom: 0.5rem;
	@include mixins.button-style;
}

.customInput.error {
	border-color: #830000;
}
