@use '../../../common/mixins' as *;

.inputWrapper {
	width: 100%;
	@include flex-gap(0rem, column);
	margin-bottom: 0.75rem;
	@media (min-width: 575.98px) {
		margin-bottom: 1rem;
	}
}

.label {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.customInput {
	@include button-style;
	margin-bottom: 0.5rem;
	&.error {
		border-color: #830000;
	}
}
