@use '../../common/mixins';

.swiperWrapper {
	padding: 1rem 0 1.5rem 0;

	@media (min-width: 767.98px) {
		padding: 1.5rem 0 2rem 0;
	}

	@media (min-width: 1139.98px) {
		padding: 2rem 0 4rem 0;
	}

	.slick-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 1rem;
	}

	.slick-list {
		margin: 0;
	}
}

.slideContainer {
	padding: 0.75rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	img {
		transition: all 0.3s ease;
		width: 100%;
		max-height: 100%;
		object-fit: cover;
		border-radius: 1rem;
	}

	&:hover img {
		transform: scale(1.05);
	}
}

.swiper__row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 1rem;

	@media (min-width: 767.98px) {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}
}

.swiper__btn {
	align-self: flex-end;
}

.title {
	@include mixins.flex-center;
	@include mixins.text-secondary;
	text-transform: uppercase;
	font-size: 1.5rem;
	line-height: normal;
	margin-bottom: 1rem;
	align-self: center;
	@media (min-width: 767.98px) {
		font-size: 2.25rem;
	}
}

@media (min-width: 319.98px) {
	.slideContainer {
		height: 22.5rem;

		img {
			height: 100%;
		}
	}
}

@media (min-width: 1199.98px) {
	.slideContainer {
		height: 28rem;
	}
}

.row__arrow {
	display: flex;
	justify-content: flex-end;
	gap: 2rem;
}

.arrows {
	cursor: pointer;
	font-size: 2rem;
	@include mixins.text-secondary;
}
