@use 'mixins' as *;

.button {
	@include border;
	padding: 0.75rem 1.25rem;
	font-size: 1rem;
	cursor: pointer;

	background-color: var(--button-background-color);
	color: var(--button-text-color);
	@include transition(background-color, 300ms);

	@media (hover: hover) {
		&:hover {
			background-color: var(--button-background-color-hover);
			color: var(--button-text-color-hover);
		}
	}
	@media (hover: none) {
		&:active {
			background-color: var(--button-background-color-hover);
			color: var(--button-text-color-hover);
		}
	}

	&--secondary {
		background-color: transparent;
		color: var(--button-text-color);
		border: 1px solid var(--button-text-color);
	}

	&--outline {
		background-color: transparent;
		color: var(--text-color);
		border: 1px dashed var(--text-color);
	}
}
