*::-webkit-scrollbar {
	width: 7px;
	background-color: transparent !important;
	border-radius: 0.625rem;
}
*::-webkit-scrollbar-track {
	background: rgb(218, 218, 218);
	border-radius: 0.625rem;
}
*::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 0.625rem;
	&:hover {
		background: #555;
	}
}
